.infoPluginButton {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

// TODO: remove once core team fix alignment of plugin icons
:global(.playkit-player .playkit-top-bar .playkit-right-controls) {
  display: flex;
}