.plugin-button {
  background-image: url("../../assets/info.svg");
  width: 32px;
  height: 32px;
  opacity: 0.8;
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 0;
  &:hover,
  &:focus {
    opacity: 1;
  }
}