@import '../../variables.scss';

.infoRoot {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 42px 0 12px;
  color: $white-color;

  &.tiny {
    display: none;
  }
  &.extrasmall,
  &.small {
    .entryName {
      font-size: 18px;
    }
  }
  &.medium,
  &.large,
  &.extralarge {
    display: flex;
  }

  * {
    font-family: 'Lato';
    font-style: normal;
  }

  .broadcastDate {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    &.hidden {
      display: none;
    }
  }
  .entryName {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    word-break: break-word;
  }
  .entry-description {
    width: 100%;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    overflow-y: auto;
    text-align: left;
    word-break: break-word;
    @include plugin-scrollbar();
    a {
      color: $main-color;
    }
  }
}
