.close-button {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    cursor: pointer;
    background-image: url('../../assets/close.svg');
}