.close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url('../../assets/close.svg');
  margin: 0 auto;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;
  background-color: transparent;
}
